.box-stock {
    width: 300px;
    display: inline-block;
    height: auto;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: lavender;
}

.box-stock img{
    width: 300px;
    height: 200px;
}

.btn-click {
    color: white;
    background: black;
    border-radius: 5px;
    width: 40px;
}